/* CSS */

.book-summary {
    font-family: @font-family-sans;

    position: absolute;
    top: 0px;
    left: -@sidebar-width;
    bottom: 0px;
    z-index: 1;
    overflow-y: auto;

    width: @sidebar-width;
    color: #ffffff;
    background: #4d394b;
    border-right: @sidebar-border-right;
}

